<section class="recent hours">
    <h2 class="section-title">Recent hours</h2>
    <div class="recent-hours__controls">
        <button class="button button--filled" id="show-add-hours">Add hours</button>
    </div>
    <div class="two-column-grid recent-hours__list">
    <% @hours.each do |hour| %>
        <li class="recent-hours__hours panel">
            <h3><%= hour.id %>. <%= number_with_precision(hour.hours, precision: 1, significant: true, strip_insignificant_zeros: true) %> hours</h3>
            <p><%= hour.description %></p>
            <%= link_to("Amend", edit_project_hour_path(@project, hour), {class: "inline-interaction"}) %>
        </li>
    <% end %>
</section>

<dialog id="add-hours-dialog" class="dialog">
    <button class="dialog__close" id="close-add-hours-dialog"><%= image_tag('cross.svg') %></button>
    <%= render 'hours/add-hours-form' %>
</dialog>