<%= form_with(model: project, local: true) do |form| %>

  <%# Error summary %>
  <% if project.errors.any? %>
    <div class="alert alert--error">
      <h2><%= pluralize(project.errors.count, "error") %> prevented this project from being saved</h2>
      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="actions">
    <%= form.submit(class: "button") %>
  </div>
<% end %>
