<p id="notice"><%= notice %></p>

<section class="recent-projects container">
  <h2 class="section-title recent-projects__title">Recent projects</h2>
  <%= link_to 'New project', new_project_path, {class: "button"} %>
  <div class="recent-projects__list">
    <% @projects.each do |project| %>
      <div class="recent-projects__project panel">
        <h3 class="recent-projects__name"><%= project.name %></h3>
        <td>Created <%= time_ago_in_words project.created_at %> ago</td>
        <td><%= link_to 'Show', project %></td>
      </div>
    <% end %>
  </div>
</section>
