<p id="notice"><%= notice %></p>

<section class="recent-projects">
  <h2 class="section-title recent-projects__title">Recent projects</h2>
  <div class="recent-projects__controls">
    <%= link_to 'New project', new_project_path, {class: "button button--filled"} %>
  </div>
  <div class="recent-projects__list">
    <% @projects.each do |project| %>
      <%= link_to(project, {class: "recent-projects__project panel"}) do %>
        <aside class="recent-projects__info">
          <h3 class="recent-projects__name"><%= project.name %></h3>
          <p class="recent-projects__published">Created <%= time_ago_in_words(project.created_at) %> ago</p>
        </aside> 
        <blockquote class="statistic">
          <q class="statistic__stat"><%= project.total_hours %></q>
          <cite class="statistic__caption">Hours worked so far</cite>
        </blockquote>
        <blockquote class="statistic">
          <q class="statistic__stat">£<%= project.total_earned %></q>
          <cite class="statistic__caption">Earned so far</cite>
        </blockquote>
      <% end %>
    <% end %>
  </div>
</section>
