
<p class="page-intro">Project</p>
<h1 class="page-title"><%= @project.name %></h1> <%= link_to 'Edit', edit_project_path(@project) %>

<p id="notice"><%= notice %></p>

<p><strong>Email:</strong><%= @project.email %>
<strong>Address:</strong><%= @project.address %>
