<!DOCTYPE html>
<html>
  <head>
    <title>Sellsword</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="site-header">
      <div class="container">
        <h1>Sellsword</h1>
      </div>
    </header>

    <%= yield %>

    <footer class="site-footer">
      <div class="container">
        Built by <a href="#">Jaye Hackett</a>
      </div>
    </footer>

  </body>
</html>
